@import "@/mixins.css";

.search-container {
  @include flex(column, flex-start, stretch, --spacing-s);
  .search-row {
    @include flex(row, flex-start, center, --spacing-s);
    .label {
      min-width: 7em;
      text-align: right;
    }
    input[type="text"] {
      flex-grow: 1;
    }
    input[type="checkbox"] {
      flex-grow: 0;
    }
  }
}
