@import "@/mixins.css";

.divider {
  width: 100%;
  border: none;
  border-top-style: solid;
  border-top-color: var(--palette-gray-7);
  border-top-width: 0;
  @include dark-mode() {
    border-top-color: var(--palette-gray-4);
  }
}

.divider-vertical {
  height: 100%;
  border: none;
  border-left-style: solid;
  border-left-color: var(--palette-gray-7);
  border-left-width: 0;
  @include dark-mode() {
    border-left-color: var(--palette-gray-4);
  }
}
