@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $gap: --space-none
) {
  display: block flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: var($gap);
}

@mixin inline-flex(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $gap: --spacing-none
) {
  display: inline flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: var($gap);
}
