@import "sanitize.css";
@import "./variables.css";
@import "./mixins.css";

/* 定义应用使用色板 */
:root {
  --color-fg: var(--color-light-fg);
  --color-bg: var(--color-light-bg);

  @include dark-mode {
    --color-fg: var(--color-dark-fg);
    --color-bg: var(--color-dark-bg);
  }

  --color-primary: var(--palette-bright-blue-6);
  --color-primary-hover: var(--palette-bright-blue-3);
  --color-primary-active: var(--palette-bright-blue-8);
  --color-primary-fg: var(--palette-white-2);
  --color-primary-fg-active: var(--palette-white-0);

  --color-secondary: var(--palette-gray-6);
  --color-secondary-hover: var(--palette-gray-3);
  --color-secondary-active: var(--palette-gray-8);
  --color-secondary-fg: var(--palette-white-2);
  --color-secondary-fg-active: var(--palette-white-0);

  --color-danger: var(--palette-red-6);
  --color-danger-hover: var(--palette-red-3);
  --color-danger-active: var(--palette-red-8);
  --color-danger-fg: var(--palette-white-2);
  --color-danger-fg-active: var(--palette-white-0);

  --color-warn: var(--palette-orange-6);
  --color-warn-hover: var(--palette-orange-3);
  --color-warn-active: var(--palette-orange-8);
  --color-warn-fg: var(--palette-white-2);
  --color-warn-fg-active: var(--palette-white-0);

  --color-success: var(--palette-green-6);
  --color-success-hover: var(--palette-green-3);
  --color-success-active: var(--palette-green-8);
  --color-success-fg: var(--palette-white-2);
  --color-success-fg-active: var(--palette-white-0);

  --color-info: var(--palette-indigo-6);
  --color-info-hover: var(--palette-indigo-3);
  --color-info-active: var(--palette-indigo-8);
  --color-info-fg: var(--palette-white-2);
  --color-info-fg-active: var(--palette-white-0);

  --color-disabled-fg: var(--palette-gray-2);
  --color-disabled-bg: var(--palette-gray-4);
  --color-disabled-border: var(--palette-gray-7);

  @include dark-mode {
    --color-disabled-fg: var(--palette-gray-5);
    --color-disabled-bg: var(--palette-gray-8);
  }

  --color-border: var(--palette-gray-5);
  --color-border-focused: var(--color-primary);

  @include dark-mode {
    --color-border: var(--palette-gray-7);
    --color-border-focused: var(--color-primary);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color: var(--color-fg);
  background-color: var(--color-bg);

  @util size(100vw, 100vh);
  overflow: hidden;
  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: var(--font-size-m);
  background-color: rgba(219, 219, 219, 0.05);
  @include dark-mode {
    background-color: rgba(36, 36, 36, 0.05);
  }
}

body,
#root {
  @util size(100vw, 100vh);
  overflow: hidden;
  user-select: none;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  @util padding(var(--spacing-xs) var(--spacing-xs));
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-xs);
  background-color: transparent;
  font-size: var(--font-size-m);
  &:focus {
    border: 1px solid var(--color-border-focused);
  }
}
