@import "@/mixins.css";

.activatable-link {
  @include flex(row, flex-start, center, --spacing-xs);
  @util padding(var(--spacing-s) var(--spacing-xs));
  @util size(100% auto);
  border-radius: var(--border-radius-xs);
  color: var(--color-link-fg);
  &.active {
    color: var(--color-link-fg-active);
    background-color: var(--color-link-bg-active);
  }
  &:hover {
    color: var(--color-link-fg-hover);
    background-color: var(--color-link-bg-hover);
  }
}
